:root {
    --main-bg: #f6f8f7;
    --main-border: #010101;
    --nav-bg: #e4e3df;
    /*--banner-bg: #1d1d1d;*/
    --banner-bg: #1b1b1b;
    --text: #44403b;
    --red: #c5441f;
    --orange: #fa380c;
    --accent: #9a3a1e;
    /*--orange: #f25b03;*/
    --green: #0d703f;
    --blue: #0a122a;
    --yellow: #f1b73a;
    --beige: #d9cab8;
    --gray: #8b8178;
}
