@import url("reset.css");
@import url("vars.css");

:root {
    --left-pad-for-panels: 85ch;
    --body-width: clamp(55ch, 45vw, 85ch);
    --panel-width: clamp(35ch, 35vw, 55ch);
}

::selection {
    background: var(--red);
    color: white;
}

html {
    background-color: var(--bg-base);
    box-sizing: border-box;
    color: var(--fg-bright);
    position: relative;
    overflow-x: hidden;
    scrollbar-gutter: auto;
}

body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    line-height: 1.6;
    max-width: 65ch;
    margin: 0 auto;
}

body.wide {
    max-width: clamp(600px, 88vw, 1280px);
    padding-left: 0;
    padding-right: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: stable;
    font-size: var(--text-xl);
    margin-bottom: 12px;
    margin-top: 24px;
    font-family: var(--font-serif);
    font-weight: 400;
}

img {
    height: auto;
}

blockquote {
    border-left: 2px solid var(--accent);
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: var(--bg-surface);
    margin-bottom: 16px;

    p,
    h4 {
        margin: 0;
    }


}

a {
    color: var(--fg-bright);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--red);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--red);
    background-color: var(--accent-hover-bg);
}

a.external-link::after {
    content: "×";
    vertical-align: super;
    font-size: 0.75rem;
}

.expressive-code {
    margin-bottom: 10px;
}

.expressive-code pre>code {
    border-top: 1px solid var(--ec-brdCol) !important;
}

.expressive-code figure.is-terminal pre>code {
    border-top: 0px !important;
}

.expandable-text {
    position: relative;
    opacity: 0.7;
    font-size: 0.8rem;
}

.expandable-text.collapsed {
    max-height: 3em;
    overflow: hidden;
}

span.toggle-btn {
    display: inline;
    color: white;
    cursor: pointer;
    font-style: italic;
    margin-left: 4px;
    padding: 4px;
    background-color: var(--text-muted);
    border-radius: var(--border-s);
}

span.toggle-btn:hover {
    background-color: var(--accent);
    color: white;
}

mark.hl {
    background-color: var(--red-dim);
    color: white;
}

@media (max-width: 768px) {
    body {
        padding-left: calc(var(--q) * 4);
        padding-right: calc(var(--q) * 4);
    }

    body.wide {
        padding-left: calc(var(--q) * 4);
        padding-right: calc(var(--q) * 4);
    }
}
