@import url("reset.css");
@import url("colors.css");

html {
    box-sizing: border-box;
    background-color: var(--main-bg);
    color: var(--text);
}

body {
    max-width: 70ch;
    padding: 0 20px 0;
    font-family: "Inria Sans", sans;
}

img {
    height: auto;
}

.expressive-code {
    margin-bottom: 10px;
}

.expressive-code pre > code {
    border-top: 1px solid var(--ec-brdCol) !important;
    padding: 0 !important;
}

.expressive-code figure.is-terminal pre > code {
    border-top: 0px !important;
    padding: 0 !important;
}
.toc-a {
    color: white;
    text-decoration: none;
}
