@import url("reset.css");
@import url("vars.css");

:root {
    --left-pad-for-panels: 85ch;
    --body-width: clamp(55ch, 45vw, 85ch);
    --panel-width: clamp(35ch, 35vw, 45ch);
}

::selection {
    background: black;
    /* selection background */
    color: white;
    /* selected text color */
}


html {
    background-color: var(--main-bg);
    box-sizing: border-box;
    color: var(--text);
    position: relative;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

body {
    /*font-family: system-ui, sans-serif;*/

    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 18px;
    line-height: 1.50;

    max-width: 60ch;
    margin: 0 auto;
    margin-top: calc(var(--q) * 8);

}

body.panels-active {
    margin-left: calc(50% - 30ch - var(--panel-width) / 2 - 0.5rem);
    margin-right: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: stable;
    font-size: 1.25rem;
    margin-bottom: 12px;
    margin-top: 24px;
    /*font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;*/
    font-family: "Source Serif Pro";
}

img {
    height: auto;
}

a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--rams-gray);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    color: var(--text);
}

a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    transition: all 0.3s;
}

.expressive-code {
    margin-bottom: 10px;
}

.expressive-code pre>code {
    border-top: 1px solid var(--ec-brdCol) !important;
}

.expressive-code figure.is-terminal pre>code {
    border-top: 0px !important;
    padding: 0 !important;
}

.expandable-text {
    position: relative;
    opacity: 0.7;
    font-size: 0.8rem;
}

.expandable-text.collapsed {
    max-height: 3em;
    overflow: hidden;
}

span.toggle-btn {
    display: inline;
    color: white;
    cursor: pointer;
    font-style: italic;
    margin-left: 4px;
    padding: 4px;
    background-color: var(--rams-gray);
    border-radius: var(--border-s);
}

span.toggle-btn:hover {
    background-color: var(--rams-blue);
    color: white;
}

/*@media (max-width: 1600px) {
    body {
        margin: calc(var(--q) * 8);
        padding: 0 calc(var(--q) * 8);
    }

}


@media (max-width: 768px) {
    body {
        margin: 0 auto;
        margin-top: calc(var(--q) * 8);
    }
}*/
