@import url("reset.css");
@import url("vars.css");

:root {
    --left-pad-for-panels: 85ch;
    --body-width: clamp(55ch, 45vw, 85ch);
    --panel-width: clamp(40ch, 35vw, 70ch);
}

html {
    background-color: var(--main-bg);
    box-sizing: border-box;
    color: var(--text);
    position: relative;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

body {
    margin: calc(var(--q) * 24) auto 0;
    font-family: system-ui, sans-serif;
    max-width: var(--left-pad-for-panels);
    font-size: 16px;
    line-height: 1.5;
    padding: 0 calc(var(--q) * 24);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 12px;
    margin-top: 24px;
    font-family: "JetBrains Mono";
}

img {
    height: auto;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--rams-blue);
}

.expressive-code {
    margin-bottom: 10px;
}

.expressive-code pre>code {
    border-top: 1px solid var(--ec-brdCol) !important;
    padding: 0 !important;
}

.expressive-code figure.is-terminal pre>code {
    border-top: 0px !important;
    padding: 0 !important;
}

.expandable-text {
    position: relative;
    opacity: 0.7;
    font-size: 0.8rem;
}

.expandable-text.collapsed {
    max-height: 3em;
    overflow: hidden;
}

span.toggle-btn {
    display: inline;
    color: white;
    cursor: pointer;
    font-style: italic;
    margin-left: 4px;
    padding: 4px;
    background-color: var(--rams-gray);
    border-radius: var(--border-s);
}

span.toggle-btn:hover {
    background-color: var(--rams-blue);
    color: white;
}

@media (max-width: 768px) {
    body {
        margin: calc(var(--q) * 8) auto 0;
        padding: 0 calc(var(--q) * 8);
    }
}
