/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    letter-spacing: 0;
}

/* 3. Enable keyword animations */

body {
    /* 4. Add accessible line-height */
    line-height: 1.4;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: auto;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    margin-bottom: 16px;
}


/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
