---
import Baz from "../layouts/Baz.astro";
---

<Baz pageTitle="404 Not Found">
    <section>
        <div class="container-404">
            <p>Oops!</p>
            <h1 style="font-size: 72px; color:var(--red)">404</h1>
            <p>
                Either you manually entered a non-existing path or my lazy ass
                forgot to update the page link. Sorry!
            </p>
            <p>
                <a href="/">get me out of here</a>
            </p>
        </div>
    </section>
</Baz>
