---
import Baz from "../layouts/Baz.astro";
---

<Baz>
    <section class="experience">
        <h2 class="section-heading">Experience</h2>
        <div class="jobs">
            <div class="job">
                <h3>
                    <span class="current-marker"></span>
                    <a href="https://kollmorgen.com/" target="_blank"
                        >Kollmorgen</a
                    >
                    <span class="tenure">Oct 2025 - current</span>
                </h3>
                <p>Senior Hardware Design Engineer</p>
            </div>
            <div class="job">
                <h3>
                    <a href="https://elektroautomatik.com/" target="_blank"
                        >EA Elektro-Automatik</a
                    >
                    <span class="tenure">@2023, 2 years</span>
                </h3>
                <p>Senior Hardware Design Engineer</p>
                <p class="expandable-text">
                    EA Elektro-Automatik, now part of Tektronix, has been
                    offering high voltage and high current bidirectional power
                    supplies for various applications in automotive, industrial,
                    aerospace and such markets for the last 50 years. As a
                    Senior Hardware Design Engineer, I was responsible for
                    designing: the resonant stage of the new product platform
                    for company's next-gen bidirectional power supplies for
                    increased power density and efficiency from power levels of
                    12kW for the first phase; testing and evaluating SiC power
                    MOSFETs in increased switching frequencies for reducing
                    overall component sizes; testing and designing inductive
                    components for resonant topologies including CLLC and
                    variants; designing current, voltage and temperature
                    measurement circuits for software algorithms to implement
                    control of the system and required filter topologies;
                    helping colleagues on traditional topics such as Flyback,
                    Buck, Boost and such SMPS topologies; testing the
                    functionality of designed prototypes for various scenarios
                    in the lab for required performance criteria; writing Python
                    scripts occasionally to fulfill design tasks; helping to
                    maintain the Xpedition EDM toolchain by also implementing
                    scripts for various tasks and output data integrity;
                    layouting PCBs in Xpedition EDM from 4 to 8 Layers
                </p>
            </div>
            <div class="job">
                <h3>
                    <a
                        href="https://www.bonfiglioli.com/international/en/product/axia-vert-series_inverters-servo-drives_premium-inverters"
                        target="_blank">Bonfiglioli</a
                    >
                    <span class="tenure">@2018, 5 years</span>
                </h3>
                <p>Hardware Design Engineer</p>
                <p class="expandable-text">
                    Working as a hardware design engineer, my responsibilities
                    were designing converter topologies from 250 W to 132 kW
                    including basic and advanced motor drives aimed for
                    asynchronous, synchronous, synchronous reluctance and servo
                    motor applications according to national and worldwide
                    standards such as 61800-3, 61800-5-1, 61800-5-2 and similar
                    generic standards, as well as CE conformity; testing the
                    functional blocks as well as complete devices in different
                    conditions to qualify short-circuit, high temperature,
                    overload, long time running and similar behavior of
                    frequency inverters and writing technical reports;
                    troubleshooting error behavior in new and old designs;
                    proposing topologies for new designs and improvements to
                    current portfolio in terms of better thermal,
                    electromagnetic and functional performance; using simulation
                    software such as LTSpice for evaluating topologies and
                    dimensioning of components; qualifying new components,
                    mainly IGBTs and SiC MOSFETs to replace current ones or
                    proposing second sources and supporting QM department;
                    participating in research activities aimed to introduce new
                    types of components such as SiC MOSFETs in company and
                    generate new know-how based on new power semiconductor
                    technologies, supervising and maintaining company-wide wiki
                    for knowledge management
                </p>
            </div>
            <div class="job">
                <h3>
                    <a
                        href="https://www.a-group.com.tr/en/arge/arge-merkezi-1"
                        target="_blank">A Group R&D</a
                    >
                    <span class="tenure">@2015, 3 years</span>
                </h3>
                <p>Hardware Design Engineer</p>
                <p class="expandable-text">
                    As a part of the hardware team, my responsibilities were to
                    design power conversion topologies such as inverters,
                    converters and switch-mode power supplies for various
                    applications including Permanent Magnet Synchronous Servo
                    Motor Drives, Elevator Drives and their internal power
                    supplies; design analog and digital supplementary circuits
                    for isolated current, voltage and temperature measurement
                    circuits, PWM circuits, gate drives, fault detection
                    circuits, DC Link pre-charging circuits, reference voltage
                    circuits; to design PCBs and schematics of the mentioned
                    motor drives. I was also responsible for the power,
                    efficiency and harsh condition testing of mentioned motor
                    drives with different kind of scenarios such as short
                    circuit behavior, high ambient temperature testing, and
                    overall efficiency in the qualified electronics laboratory
                    with high performance oscilloscopes, temperature measuring
                    devices and power analyzers. Due to my background in
                    electromagnetics which I gained during college days, EMC
                    testing of the drives was also part of my responsibilities.
                    As a part of my job and my personal interest, I also did
                    research and made purchases for electronic equipment and
                    gave tutorials about using them to our team such as
                    oscilloscopes, power analyzers, power supplies, thermal
                    imaging cameras, spectrum analyzers and EMC equipment for
                    the hardware laboratory.
                </p>
            </div>
        </div>
    </section>

    <section class="papers">
        <h2 class="section-heading">Academic Publications</h2>
        <p>
            <a
                href="https://www.researchgate.net/publication/329277035_Life_Prediction_of_Aluminum_Electrolytic_Capacitors_Used_in_Two-Level_Inverters"
                target="_blank"
                >Life Prediction of Aluminum Electrolytic Capacitors Used in
                Two-Level Inverters</a
            ><br /><span class="tenure">October 2018 - ICENTE</span>
        </p>
        <p>
            <a
                href="http://www.isites.info/PastConferences/ISITES2015/ISITES2015/papers/A1-ISITES2015ID181.pdf"
                target="_blank"
                >A Variable AC Power Source Based on the Arduino Platform Using
                Finite State Machines</a
            ><br /><span class="tenure">June 2015 - ISITES</span>
        </p>
    </section>
</Baz>
