---
import { getCollection } from "astro:content";
import Baz from "../layouts/Baz.astro";

const allBits = await getCollection("thoughts");
const pageTitle = "electronics";
---

<Baz pageTitle={pageTitle}>
    <p>Electronics</p>
</Baz>
