---
import { getCollection } from "astro:content";
import Baz from "../layouts/Baz.astro";

const allThoughts = await getCollection(
    "thoughts",
    ({ data }) => data.draft !== true,
);

allThoughts.sort((a: any, b: any) => b.data.published - a.data.published);
const pageTitle = "thoughts";
---

<Baz pageTitle={pageTitle}>
    <p>All blogs</p>
    <ul>
        {
            allThoughts.map((post) => (
                <li>
                    <a href={`${post.id}`}>{post.data.title}</a>
                    {post.data.published.toISOString().split('T')[0]}
                </li>
            ))
        }
    </ul>
</Baz>
