---
const { metadata } = Astro.props;
---

<div class="banner">
    <div class="title">{metadata.title}</div>
    <div class="pubDate" id="pubDate">{metadata.published}</div>
</div>

<style>
    div.banner {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--q) * 24);
    }

    div.title {
        font-size: 1.25rem;
        font-weight: 700;
    }

    div.pubDate {
        opacity: 0.5;
    }
</style>
