---
import { Icon } from "astro-icon/components";
const { metadata } = Astro.props;
---

<footer>
    <div class="footer-container"></div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.footer-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--q) * 2);
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 768px) {
        footer {
            margin-left: calc(var(--q) * -8);
            padding-left: calc(var(--q) * 8);
            margin-right: calc(var(--q) * -8);
            padding-right: calc(var(--q) * 8);
        }
    }
</style>
