---

---
<nav>

<span>///kenan.fyi</span>
<a href="/">INDEX</a>
<a href="/electronics/">ELECTRONICS</a>
<a href="/bits/">BITS</a>
<a href="/library/">LIBRARY</a>
<a href="/bookmarks/">BOOKMARKS</a>
<a href="/uses/">USES</a>
<a href="/about/">ABOUT</a>
</nav>


<style>
a {
  text-decoration: none;
  padding: 4px;
}
a:hover{
  background-color: darkred;
  color:white;
}

nav {
  border:1px solid slategray;
  padding: 10px;
  background-color: #FAFAFA;
}
</style>
