---

---

<nav>
    <span>[</span>
    <span>▨</span>
    <span>▧</span>
    <span>]</span>
    <span class="logo">kenan.fyi</span>
    <a href="/">INDEX</a>
    <a href="/electronics/">ELECTRONICS</a>
    <a href="/bits/">BITS</a>
    <a href="/library/">LIBRARY</a>
    <a href="/bookmarks/">BOOKMARKS</a>
    <a href="/uses/">USES</a>
    <a href="/about/">ABOUT</a>
</nav>

<style>
    a {
        text-decoration: none;
        padding: 4px;
        margin-right: 4px;
        color: var(--orange);
    }

    a:hover {
        background-color: gainsboro;
    }

    nav {
        border: 1px solid var(--main-border);
        padding: 12px 10px 12px;
        background-color: #fafafa;
        text-transform: uppercase;
    }

    span.logo {
        font-weight: bold;
        padding: 4px;
        margin-right: 4px;
    }j
</style>
