---
import type { GetStaticPaths } from "astro";
import Navigation from "../components/Navigation.astro";
import Banner from "../components/Banner.astro";
import "../styles/global.css";
import "@fontsource/inria-sans";
import "@fontsource-variable/kode-mono";
import "@fontsource/vt323";
import "@fontsource/iosevka";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>kenan.fyi / {pageTitle}</title>
    </head>
    <body>
        <header>
            <Navigation />
        </header>
        <slot />
    </body>
</html>

<style>
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
</style>
