---
import type { GetStaticPaths } from "astro";
import Navigation from "../components/Navigation.astro";
import BottomNav from "../components/BottomNav.astro";
import "../styles/global.css";
import "@fontsource/iosevka";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>kenan.fyi / {pageTitle}</title>
    </head>
    <body>
        <div class="content">
            <main>
                <slot />
            </main>
        </div>
        <slot name="panels-outside-main" />
        <BottomNav />
        <footer>-- footer content --</footer>
    </body>
</html>

<style>
    header {
        padding-top: 16px;
        z-index: 100;
    }

    main {
        animation: slideDown 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    footer {
        width: 100vw;
        background-color: var(--beige);
        height: 180px;
        margin-left: calc(var(--q) * -24);
        margin-right: calc(var(--q) * -24);
        padding-left: calc(var(--q) * 24);
        padding-right: calc(var(--q) * 24);
    }

    @media (max-width: 768px) {
        footer {
            margin-left: calc(var(--q) * -8);
            margin-right: calc(var(--q) * -8);
            padding-left: calc(var(--q) * 8);
            padding-right: calc(var(--q) * 8);
        }
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
