---
import Baz from "./Baz.astro";
const { frontmatter } = Astro.props;
---

<Baz pageTitle={frontmatter.title}>
  <main>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.published.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
  </main>
</Baz>


<style>


main {
  border-width: 0px 1px 1px 1px;
  border-color: slategray;
  border-style: solid;


  & h1 {
    color: red;
  }
}


</style>
