---
import Banner from "../components/Banner.astro";
import Baz from "./Baz.astro";
import Backlinks from "../components/Backlinks.astro";
import Panels from "../components/Panels.svelte";
import "../styles/global.css";
const { frontmatter, minutes } = Astro.props;
---

<Baz pageTitle={frontmatter.data.title}>
    <Banner metadata={frontmatter.data} minutes={minutes} />
    <slot />
    <p class="dot">▨</p>

    <h3 class="backlinks">Backlinks</h3>
    <Backlinks id={frontmatter.id} />

    <Panels client:load slot="panels-outside-main" />
</Baz>
<style>
    article {
        margin-top: calc(var(--q) * 12);
    }

    article :global(p) {
        text-align: justify;
        hyphens: auto;
    }
</style>
